@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
    font-family: 'Satisfy', cursive, sans-serif;
    background-color: #FFFFFF;
    color: #222;
    margin: 0;
    padding: 0.5rem; 
    font-size: 1.1rem;
}

header {
    background-color: #b8f47d;
    color: #FFFFFF;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 3000;
}

nav a {
    color: #0452f9;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff0000;
}

a[href="#main_content"] {
    color: #0452f9;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a[href="#main_content"]:hover {
    color: red;
}

main {
    padding: 1.5rem; 
    transition: color 0.3s ease-in-out;
}

section {
    border: 0.125rem solid #e0e0e0; 
    padding: 1.5rem;
    margin-bottom: 1.5rem; 
    background-color: #FDF5C3;
    border-radius: 0.5rem;
}

h2 {
    color: #dd0cf0;
    border-bottom: 0.125rem solid #4caf50; 
    padding-bottom: 0.3rem; 
}

#About img {
    display: block;
    margin: 0 auto; 
    border: 0.15rem solid #f65a06;
    width: min(100%, 15rem); 
    height: auto;
    border-radius: 50%; 
}

#Skills > div > div {
    
    background-color: #2c3e50; 
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    min-width: 10rem;
    flex-grow: 1; 
}

.skill-level {
    display: block; 
    font-size: 0.8em;
    opacity: 0.8;
}

form {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem; 
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    padding: 0.5rem; 
    margin: 0; 
}

button {
    background-color: #03c7f8;
    color: rgb(19, 19, 19);
    padding: 0.75rem; 
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

footer a[href="#Top"] {
    display: inline-block;
    background-color: #04ccf4;
    color: white;
    padding: 0.6rem 1rem; 
    text-decoration: none;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease-in-out;
}

footer a[href="#Top"]:hover {
    background-color: red;
}

hr {
    border: 0.06rem solid #ddd; 
    margin: 1.25rem 0; 
}